<!-- itinerary.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Itinerary</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <h1>June 1, 2024</h1>
    <p>Meet at Chelsea Piers Field House Manhattan at 5:45 PM</p>
    <p>Baseball Cages 6-6:30 PM</p>
    <p>Change and Uber to Emmett's on Grove for 6:45 PM reservation</p>
    <p>Order a bottle of wine from the restaurant: 
        <button onclick="location.href='https://media-cdn.getbento.com/accounts/f45db4c31dc4121808f3141ecd9a2077/media/lhI5fBqrQxGEg48mIkfl_W%26S%20Apr%2024.pdf'" class="button">
            View Wine Menu
        </button>
    </p>
    <p>Head to Pier 46 in time to be early to get a picnic spot for sunset.</p>
    <div id="map"></div>
    <script>
        function initMap() {
            var locations = [
                {lat: 40.7465, lng: -74.0094, title: 'Chelsea Piers Field House Manhattan'},
                {lat: 40.7336, lng: -74.0031, title: 'Emmett\'s on Grove'},
                {lat: 40.7286, lng: -74.0115, title: 'Pier 46'}
            ];

            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 14,
                center: locations[0]
            });

            locations.forEach(function(location) {
                new google.maps.Marker({
                    position: location,
                    map: map,
                    title: location.title
                });
            });
        }
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initMap"></script>
</body>
</html>
